waitress~=1.4.4
git+git://github.com/Alxaline/ComScan.git
pydicom~=2.1.2
pykwalify~=1.8.0
numpy~=1.19.5
numba~=0.52.0
scikit-image~=0.18.1
torch~=1.7.1
scipy~=1.6.0
pandas~=1.2.0
six~=1.15.0
dash~=1.18.1
plotly~=4.14.3
setuptools~=51.1.2
simpleitk~=2.0.2
monai~=0.4.0